<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WilCo</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <!-- Main Content -->
    <div class="container main-content">
        <h1>Bienvenido a la plataforma WilCo</h1>
        
        <div class="buttons">
            <a href="{% url 'create_report' %}" class="btn">Create Report</a>
            <a href="{% url 'create_report_objective' %}" class="btn">Create Report Objective</a>
            <a href="{% url 'list_reports' %}" class="btn">List of Reports</a>
            <a href="{% url 'list_clips' %}" class="btn">List of Clips</a>
        </div>
        
    </div>
</body>
</html>
