<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Clips</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <h2>List of Clips</h2>

        {% if clips %}
            <ul class="clip-list">
                {% for clip in clips %}
                    <li>
                        <a href="{% url 'view_clip' clip.id %}">
                            Clip ID: {{ clip.id }} - {{ clip.date }}

                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No clips available.</p>
        {% endif %}
    </div>
</body>
</html>
